# Created by https://www.toptal.com/developers/gitignore/api/macos
# Edit at https://www.toptal.com/developers/gitignore?templates=macos

# General
.DS_Store
.AppleDouble
.LSOverride

ndoe_modules
docs/.vitepress/cache
# docs/.vitepress/dist
docs/.vitepress/dist.tar.gz
docs
scripts

.env
.tmp
